.root {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.count {
  white-space: nowrap;
  min-width: 60px;
  text-align: center;
}

.actions {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.button {
  background-color: white;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 24px;
  padding: 0;
  flex-shrink: 0;
  user-select: none;

  &:hover:not([disabled]) {
    cursor: pointer;
    background-color: #ddd;
  }
}

.remove {
  color: red;
  margin-top: 10px;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
